<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ice_cream.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ice_cream.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @ice_cream.picture %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ice_cream.price %>
</p>

<%= link_to 'Edit', edit_ice_cream_path(@ice_cream) %> |
<%= link_to 'Back', ice_creams_path %>
